<div class="content">
    <div class="page-header full-content bg-orange">
        <div class="row">
            <div class="col-sm-6">
                <h1>Flexible Space <small>short description</small></h1>
            </div><!--.col-->
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li><a href="#"><i class="ion-home"></i></a></li>
                    <li><a href="#">Layouts</a></li>
                    <li><a href="#" class="active">Flexible Space</a></li>
                </ol>
            </div><!--.col-->
        </div><!--.row-->
    </div><!--.page-header-->
    <!-- content -->
    <div class="flexible-content">

    </div><!--.flexible-content-->
    <!-- content -->
    <div class="footer-links margin-top-40">
        <div class="row no-gutters">
            <div class="col-xs-6 bg-cyan">
                <a href="components-html5-notifications.html">
                    <span class="state">Components</span>
                    <span>HTML5 Notifications</span>
                    <span class="icon"><i class="ion-android-arrow-back"></i></span>
                </a>
            </div><!--.col-->
            <div class="col-xs-6 bg-orange">
                <a href="layout-fixed-footer-links.html">
                    <span class="state">Layouts</span>
                    <span>Fixed Footer Links</span>
                    <span class="icon"><i class="ion-android-arrow-forward"></i></span>
                </a>
            </div><!--.col-->
        </div><!--.row-->
    </div><!--.footer-links-->
</div><!--.content-->